@import url('https://fonts.googleapis.com/css2?family=Girassol&family=Itim&family=Lobster&family=Orelega+One&display=swap');
#more {display: none;}
.lob{
  font-family: 'Lobster';
}
.commut{
  text-decoration: none;
  margin-top: 4px;
}
.Gira{
  font-family: 'Girassol';
}
.Itim{
  font-family: 'Itim';
}
.Ore{
  font-family: 'Orelega One';
}
.font-0{
  font-size: 10vh;
}
.thisColor{
  color: #805a07 !important;
  background-color: blanchedalmond !important;
  opacity: 0.75;
  
}
.font-1{
font-size: 5vh;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

